<%= form_with(model: [post, comment])  do |form| %>
  <div class="form-group row py-2 mt-2">
    <%= form.rich_text_area :body, class:"form-control", placeholder: "Write your comment" %>
  </div>
  <div class="actions row  pt-3">
      <%= form.submit "Comment", class: "btn btn-primary" %>
  </div>
<% end %>