<%= link_to(posts_path, class: "fs-1 text-dark text-decoration-none") do %>
  <i class="bi bi-arrow-left"></i>
<% end %>
<h1 class="d-flex inline-block text-nowrap">Editing post</h1>

<%= render "form", post: @post %>

<br>

<div>
  <%= link_to "Show this post", @post %>
</div>
