<h1>Posts</h1>
<div class="row">
  <div class="col-sm-6 d-flex align-items-center">
    <span><%= page_entries_info @posts %></span>
  </div>
  <div class="col-sm-6 text-end">
    <%= link_to(new_post_path, class: "btn btn-primary") do %>
      <i class="bi bi-pencil-square me-1"></i> Write new post
    <% end %>
  </div>
</div>
<div id="posts">
  <div class="container overflow-hidden my-4">
    <div class="row gx-5 gy-4">
      <% @posts.in_groups_of(3, false).each do |post| %>
        <%= render post %>
      <% end %>
    </div>
  </div>
  <div class="container pagination justify-content-center">
    <%= paginate @posts, window: 3 %>
  </div>
</div>
